            <div class="container-fluid footer">
                <div class="row">
                    <div class="col-sm-6">
                        {{#if hideAboutInFooter}}
                        {{else}}
                            <h4>About Us</h4>
                            <p>Cybros Computer Club, The LNMIIT, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        {{/if}}
                    </div>

                    <div class="col-sm-2 col-md-offset-1">
                        <h4>Shortcut</h4>
                        <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/classes">Classes</a></li>
                            <li><a href="/workshops">Workshop</a></li>
                            <li><a href="/competition">Competitions</a></li>
                            <li><a href="/signup">Sign in/Sign up</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3 subscribe footer_1">

                        <h4>Subscription</h4>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email id">
                            <span class="input-group-btn">
                                    <button class="btn btn-default but" type="button">Subscribe</button>
                                    </span>
                        </div>

                        <div class="social">
                            <h4>Find us across internet</h4>
                            <a id="face" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-lg" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"></i></a>
                            <!--  <a href="#"><i class="fa fa-instagram fa-2x"  data-toggle="tooltip" data-placement="top" data-original-title="instragram"></i></a>
                                  <a href="#"><i class="fa fa-twitter-square fa-2x" data-toggle="tooltip" data-placement="top" data-original-title="twitter"></i></a>
                                  <a href="#"><i class="fa fa-pinterest-square fa-2x" data-toggle="tooltip" data-placement="top" data-original-title="pinterest"></i></a>
                                  <a href="#"><i class="fa fa-tumblr-square fa-2x" data-toggle="tooltip" data-placement="top" data-original-title="tumblr"></i></a>
                              --> <a id="git" href="https://www.github.com/cybros" target="_blank"><i class="fa fa-github-square fa-lg" data-toggle="tooltip" data-placement="top" data-original-title="github"></i></a>
                            <a id="mail" href="mailto:girichaitanya11@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg" data-toggle="tooltip" data-placement="top" data-original-title="Email"></i></a>
                            <br>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->

            <!--/.footer-bottom-->
            </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/public/js/index.js"></script>
    </body>
</html>
