<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Cybros|LNMIIT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Chaitanya Giri">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Gloria+Hallelujah|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="shortcut icon" type="image/png" href="../favicon.png"/>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<nav id="main" class="main navbar navbar-fixed-top wide topNavbar">
    <div class="container-fluid">
        <div class="navbar-header">

            <div class="navbar-toggle toggle-switch pull-right" data-target="#mySidenav">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <a class="navbar-brand hfont" href="/">
                <img class="img-responsive" style="display: block;
                        margin-left: auto;
                        margin-right: auto;" src="/favicon.png" alt="logo" width="100" height="60">
            </a>
        </div>
        <div id="mySidenav" class="sidenav">
            <!--{{user}} will be used by template-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{{user.username}}}
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{#ifCond user.username 'New User'}}
                    <a class="dropdown-item" style="font-size: 18px;" href="/signup"><i class="fa fa-sign-out" aria-hidden="true"></i> Login
                    </a>
                    {{else}}
                    <a class="dropdown-item" style="font-size: 18px;" href="/profile"><i class="fa fa-sign-out" aria-hidden="true"></i> Profile
                    </a>
                    <a class="dropdown-item" style="font-size: 18px;" href="/signup/logout"><i class="fa fa-user" aria-hidden="true"></i> Log out
                    </a>
                    {{/ifCond}}
                </div>
            </li>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/classes">Classes</a>
            <a href="/workshops">Workshops</a>
            <a href="/competition">Competitions</a>
            <a href="/signup">Sign up/Sign in</a>
        </div>
    </div>
</nav>
