{{> header}}
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="banner_content text-center">
                                    <h2>About Us</h2>
                                    <div class="page_link">
                                        <a href="index.html">Home</a>

                                        <a href="about-us.html">About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="main_title">
                            <p>Cybros is the official Computer Club of LNMIIT, Jaipur.We are a bunch of coding enthusiasts that aim to maintain a competitive and interactive coding atmosphere among the students by organising various online coding competitions etc.The club is also engaged in organizing classes and workshops on the current trends in coding industry and hence is a platform for enthusiasts in coding field. The club today is an active platform for students to display and develop their practical knowledge in all spheres of coding. The club mentors work hard to imbibe a coding culture in the college and organise many workshops/classes for all students to start learning different areas of computers from basics.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                    
        
{{> footer hideAboutInFooter=42}}
