{{> header}}

        <div class="inner" style="padding-top:97px;">
            <h3 class="text-center filler-heading">About us</h3>
            <div class="aboutContent">
            <h4 class="filler-heading" style="font-size:30px!important">Who are we?</h4>
            <p>
                Cybros is the coding club of LNMIIT, Jaipur. Its basic aim is to improve the coding culture in the college which is at its peak. Cybros organizes various inter and intra college coding events such as IUPC (Inter University programming contest), hackathons and codages
            </p>
            <h4 class="filler-heading" style="font-size:30px!important">Why do we exist?</h4>
            <p>
                The Cybros Computer Club at The LNMIIT exists to help you be a better programmer. C3 encourages students to "keep coding, keep contributing, and keep developing" by providing workshops, classes, and competitions. We're all in this together to solve problems and code all the things.            
            </p> 
            <h4 class="filler-heading" style="font-size:30px!important">What do we do?</h4>
            <p>
                The club is also engaged in organizing classes and workshops on the current trends in coding industry and hence is a platform for enthusiasts in coding field.
                The club today is an active platform for students to display and develop their practical knowledge in all spheres of coding. The club mentors work hard to imbibe a coding culture in the college and organise many workshops/classes for all students to start learning different areas of computers from basics.
            </p>
            <h4 class="filler-heading text-center" style="font-size:30px!important">All Hail Cybros.</h4>
            </div>
        </div>
        
{{> footer hideAboutInFooter=42}}
