{{> adminheader}}
        <div style="padding-top:97px;">
                <h3 class="text-center filler-heading">Administrator's dashboard</h3>
                <div class="row profile text-center btn-group btn-group-justified" style="padding-top:10%;padding-bottom:30px; height:350px;">
                    
                    <div class="col-md-4">
                        <a class="text-center" href="/admin/addevent" id="form_button"><button class="btn btn-lg">Add event <i class="fa fa-plus" aria-hidden="true"></i></button></a>
                    </div> 

                    <div class="col-md-4">
                        <a class="text-center" href="/admin/editevent"id="form_button"><button class="btn btn-lg">Update event <i class="fa fa-wrench" aria-hidden="true"></i></button></a>
                    </div>

                    <div class="col-md-4">
                        <a class="text-center" href="/admin/deleteevent" id="form_button"><button class="btn btn-lg">Remove event <i class="fa fa-trash" aria-hidden="true"></i></button></a>
                    </div>
                    <div>{{eventMessage}}</div>
                </div>
        </div>

{{> footer}}
