{{> header}}
        <div style="padding-top:97px;">
                <h3 class="text-center filler-heading">Administrator's dashboard</h3>
                <div class="row profile text-center" style="padding-top:10%;padding-bottom:30px; height:350px;">
                    
                    <div class="col-md-3 submit">
                        <a href="/admin/addevent" id="form_button">Add event <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 submit">
                        <a href="/admin/editevent"id="form_button">Update event <i class="fa fa-wrench" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 submit">
                        <a href="/admin/deleteevent" id="form_button">Remove event <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                    <div>{{eventMessage}}</div>
                </div>
        </div>

{{> footer}}
