{{> adminheader}}
        

        <!--After Adding Current Template -->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="banner_content text-center">
                                <h2>Administrator's Dashboard</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <!--<h4 class="title">Administrator's Dashboard</h4>-->
            <br><br>
            <div class="content">
                <ul class="course_list">
                    <li class="justify-content-between d-flex">
                        <p>View Users</p>
                        <a class="primary-btn text-uppercase" href="/admin/users">Click here</a>
                    </li>
                    <li class="justify-content-between d-flex">
                        <p>Add Event</p>
                        <a class="primary-btn text-uppercase" href="/admin/addevent">Click here</a>
                    </li>
                    <li class="justify-content-between d-flex">
                        <p>Update Event</p>
                        <a class="primary-btn text-uppercase" href="/admin/editevent">Click here</a>
                    </li>
                    <li class="justify-content-between d-flex">
                        <p>Remove Event</p>
                        <a class="primary-btn text-uppercase" href="/admin/deleteevent">Click here</a>
                    </li>
                </ul>
            </div>
        </div>

{{> footer}}
