{{> header }}
      <!--Parallax scrolling-->
        <div class="rest" style="">
            <div id="banner1" class="banner1 quote text-center" style="display: block; background: transparent url(&quot;../images/parallax_1.jpg&quot;) no-repeat fixed center 0px / cover;height:700px;"><noscript><img class="img-responsive banner1" src="../images/parallax_1.jpg" alt="banner 1 of 2" title="banner 1 of 2"></noscript>
                <p class="quote" style="margin-right:40%">"First solve the problem then write the code."</p>
            </div>
            <div id="banner2" class="banner2 quote text-center" style="display: block; background: transparent url(&quot;../images/parallax_2.jpg&quot;) no-repeat fixed center 0px / cover ;height:700px;"><noscript><img class="img-responsive banner2" src="../images/parallax_2.jpg" alt="banner 2 of 2" title="banner 2 of 2"></noscript>
                <p class="quote" style="margin-right:40%">"Code = 21st Century's oxygen"</p>
            </div>
            <!--Parallax scroling ends-->
            <div class="row repeat filler text-center"style="height:auto;">                        
                {{#if event.length}}
                <h3 class="filler-heading">Featured feeds</h3>
                <div>{{rmessage}}</div>
                {{#each event}}
                    <div class="col-md-4" style="padding:15px;">
                        <a href = "/event/{{this.Event_ID}}">
                        <div class="card">
                            <img class="img-responsive" src="../images/DefaultEvent.png" alt="Competitive" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">{{{this.Event_Name}}}</p>
                        </div>
                        </a>
                    </div>
                {{/each}}
                <div class="col"></div>
                {{/if}} 
            </div>
        </div>
{{> footer }}

