{{> header}}
    <div class="row filler" style="height:auto;padding-top:87px;">
        <div class="row padding-50">
            <h3 class="filler-heading">Users</h3>
            {{#if items.length}}
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Event</th>
                    </tr>
                </thead>
            <tbody>
            {{#each items}}
            <tr>
                <td>{{this.user.username}}</td>
                <td>{{this.user.Name}}</td>
                <td>{{this.event.Event_Name}}</td>
            </tr>
            {{/each}}
            </tbody>
            </table>
            {{/if}}
        </div>
    </div>
{{> footer}}

