{{> header}}
        <div class="filler text-center"style="height:auto;padding-top:87px;">
                <h3 class="filler-heading">Workshops</h3>
                <div class="row" style="margin-left:20px;margin-right:20px;padding-bottom:5%">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive" src="../images/competitive.png" alt="Competitive" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">Competitive classes</p> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive" src="../images/development.jpg" alt="development" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">Development classes</p> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive" src="../images/LNMHacks.jpg" alt="LNMhacks" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">LNM Hacks</p> 
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:20px;margin-right:20px;padding-bottom:5%">                    
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive" src="../images/papersLnmiit.jpg" alt="papers.lnm" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">Papers.Lnmiit</p> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive" src="../images/ACMICPC.jpg" alt="ACMICPC" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">ACMICPC style contest</p> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-responsive" src="../images/coding.svg" alt="coding" width="100%">
                            <p style="font-family: 'Poiret One', cursive;font-size:25px;color:rgb(57, 108, 146);">September long challange</p> 
                        </div>
                    </div>
                </div>
        </div>

{{> footer}}
