body{
    background-color: #EDEDED;
    height: 100%;
    overflow-x: hidden;
}

.inner {
    max-width:1170px;
    position: relative;
    padding: 0 40px;
    margin: 0 auto
}

/*Navbar*/
.topNavbar{
    padding-bottom:30px;
    background-color:white;

}
.navbar-toggle {
    display: block;
    z-index:2;
}
.navbar-header{
    margin-left:10px;
    width:100%;
}
a:hover{
    text-decoration: none;
    color:black;
}
a{
    text-decoration: none;
    color:black;
}
/*Toggle menue switch animation bars*/
.bar1,.bar2,.bar3{
    z-index: 1;
    width:30px;
    height:4px;
    border-radius:3px;
    background-color:rgb(57, 108, 146);
    margin:6px;
    transition: 0.5s ease;
}
.change .bar1 {
    transform: rotate(45deg) translate(5px, 9.5px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(-45deg) translate(5px, -9.5px) ;
}
/*Side navbar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:rgba(255,255,255,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left: 1px solid rgb(57, 108, 146);
}

.sidenav a {
    font-family: 'Poiret One', cursive;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(57, 108, 146);
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}
.quote{
    padding-top:15%;
    font-size:40px;
    font-family: 'Gloria Hallelujah', cursive;
    vertical-align: middle!important;
}
/* About content */

.aboutContent{
    font-family: 'Poiret One', sans-serif;
    font-size:20px!important;
    font-weight: bold;
    color:rgb(0, 0, 0);
}

/* Filler */
.filler{
    background-color: #EDEDED;
    font-family: 'Poiret One', cursive;
    font-size:20px;
}
.filler-heading{
    font-family: 'Poiret One', cursive;
    font-size:40px!important;
    color:rgb(57, 108, 146);
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color:white;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
}
.card img{
    height:250px;
}
.footer{
    width:100%;
    left:0;
    bottom:0;
    right:0;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    background-color: white;
    color:black;
}
.footer h4{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    color: rgb(57, 108, 146);
}
.footer a:hover{
    color: rgb(57, 108, 146);
    font-size:1.2em;
}
.but{
    color: white;
    background-color: rgb(57, 108, 146);
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .banner1{
        background-position: 91% 50px !important;
        display:none;
    }
    .banner2{
        background-position: 91%  !important;
    }
    .banner1 .quote {
        padding-top: 12%;
        font-size: 29px;
        font-family: 'Gloria Hallelujah', cursive;
        vertical-align: middle!important;
        margin-right: 0 !important;
        margin-top: 10px;
    }
    .banner2 .quote {
        padding-top: 10%;
        font-size: 29px;
        font-family: 'Gloria Hallelujah', cursive;
        vertical-align: middle!important;
        margin-right: 0 !important;
        margin-top: 10px;
    }
}


/*Sign up/ Sign in form */

*:focus {
    outline: none;
}

.login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
/* Signup form*/
.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

.login-box h1 {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 28px;
    color: rgb(57, 108, 146);
    font-family: 'Poiret One', cursive;

}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s ease;
}

.login-box input[type="text"]:focus,
.login-box input[type="email"]:focus,
.login-box input[type="password"]:focus {
    border-bottom: 2px solid rgb(57, 108, 146); ;
    transition: 0.2s ease;
}

.login-box input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: rgb(57, 108, 146);
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.login-box input[type="submit"]:hover,
.login-box input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.login-box input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}
/* OR */
.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}
/* Sign in form */
.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .login-box {
        width: 100%;
    }
    .left {
        width: 50%;
        float: left;
        height: 700px;
        display: block;
        overflow: auto;
        position: absolute;
    }
    .or {
        left: calc(50% - 20px);
    }
    .right {
        width: 50%;
        height: 700px;
        display: block;
        overflow: auto;
        position: absolute;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 100%;
        font-size: 0.9em;
    }
}
/*Profile starts*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.profile{
    font-family: 'Montserrat', Arial, sans-serif;
    color: rgb(57, 108, 146);
    font-size: 20px;
}

.profile button {
    overflow: visible;
}

.profile button, .profile select {
    text-transform: none;
}

.profile input, .profile select, .profile textarea, .profile input[type='email']{
    color: rgb(57, 108, 146);
    font: inherit;
    margin: 0;
}

.profile input {
    line-height: normal;
}

.profile textarea {
    overflow: auto;
}

.profile #container {
    font-family: 'Montserrat', Arial, sans-serif;
    border: solid 3px rgb(57, 108, 146);
    max-width: 768px;
    margin: 60px auto;
    position: relative;
}

.profile form {
    padding: 37.5px;
    margin: 50px 0;
}

.profile h1 {
    color: rgb(57, 108, 146);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
}

.profile .underline {
    border-bottom: solid 2px rgb(57, 108, 146);
    margin: -0.512em auto;
    width: 80px;
}

.profile .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.profile .icon {
    display: block;
    fill: rgb(57, 108, 146);
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.profile .pright {
    float: right;
    width: 45%;
}

.profile textarea, .profile input[type='text'],.profile input[type='email'],.profile input[type='password'],select {
    background: none;
    border: none;
    border-bottom: solid 2px rgb(57, 108, 146);
    color: rgb(57, 108, 146);
    font-size: 0.725m;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.profile input[type='text']:focus, .profile input[type='email']:focus, .profile input[type='password']:focus, .profile textarea:focus {
    outline: none;
    padding: 0 0 calc(0.875em + 1px) 0;
    border: 1px dotted rgb(57, 108, 146);
}

.profile .pleft {
    float: left;
    width: 45%;
}

.profile .fin {
    width: 100%;
}

.profile textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: rgb(57, 108, 146);
}

:-moz-placeholder {
    color: rgb(57, 108, 146);
    opacity: 1;
}

::-moz-placeholder {
    color: rgb(57, 108, 146);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(56, 107, 146);
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}



.profile .btn {
     width: 210px;
    height: 70px;
    background-color: transparent;
    color: #396c92;
    border: 2px solid #396c92;
}

.profile .btn:hover {
    background-color: #396c92;
    color: #FFFFFF;
}

@media screen and (max-width: 991px) {
    .profile button {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .profile #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .profile h1 {
        font-size: 20px;
    }

    .profile .underline {
        width: 68px;
    }

}

@media screen and (max-width: 420px) {
    .profile h1 {
        font-size: 18px;
    }

    .profile .icon {
        height: 35px;
        width: 35px;
    }

    .profile .underline {
        width: 53px;
    }

    .profile input[type='text'], .profile input[type='email'], .profile input[type='password'], select, textarea {
        font-size: 0.75em;
    }
}
/*Profile ends*/
